#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: darkgreen;
}
h1 {
  font-family: "Roboto";
}
p {
  font-weight: 800;
}
.nav-bar {
  display: grid;
  grid-template-columns: repeat(7, auto);
  background-color: lightgoldenrodyellow;
  align-items: center;
  font-family: "Roboto";
  font-size: clamp(0.6rem, 1vw + 0.2rem, 1.2rem);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.logo {
  width: 50px;
  height: auto;
  border-radius: 45px;
}
.hero-section {
  display: grid;
  grid-template-columns: auto auto;
  background-color: beige;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.image1 {
  width: 300px;
  height: auto;
  border-radius: 10px;
}
.specials {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.specials-title {
  font-size: 30px;
  text-align: center;
  color: white;
}
.specials-order {
  font-size: 18px;
  text-align: right;
}
.order-btn {
  color: white;
  border: solid 1px black;
  background-color: green;
}
.order-btn:hover {
  background-color: rgb(16, 167, 16);
}
.specials-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: beige;
  border-radius: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.card {
  flex-direction: column;
  width: 400px;
  height: 700px;
  border: solid 1px green;
  border-radius: 10px;
  padding: 5px;
}
.card-image {
  width: inherit;
  height: 400px;
  border-radius: inherit;
}
.footer-section {
  height: 300px;
  margin-top: 50px;
  background-color: rgb(0, 24, 0);
  border-radius: 10px;
}

.booking-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  background-color: bisque;
  border-radius: 5px;
  text-align: center;
}
label {
  font-family: "Roboto";
  font-weight: 500;
  padding-right: 10px;
}
input {
  width: 200px;
  height: 30px;
  font-size: large;
  border-radius: 5px;
  background-color: beige;
  color: darkgreen;
}
select {
  width: 200px;
  height: 30px;
  font-size: large;
  border-radius: 5px;
  background-color: beige;
  color: darkgreen;
}
button {
  background-color: green;
  color: white;
  border: solid 1px black;
}

button:hover {
  background-color: rgb(1, 75, 1);
}
.booking-div {
  height: 50px;
}

.confirm {
  width: 80%;
  height: 80%;
  margin: 10%;
  border: solid 5px black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
